# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\DATA\CODECOOL\Codecool.PYTHON\GIT\Projects\roguelike-game-python-rivienne8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
